{% extends "labwork.html" %}

{% block head %}

{% endblock %}

{% block content %}

    <div class="container">
        <h1>Bird Breed</h1>
        <img src="{{url_for('static', filename='bido 2.jpg')}}" />
        <body>
        <p>
                <b>The bodies of birds are covered with feathers which
            have mainly three functions. Feathers help them in their
            flight, helps them to have a regulated body temperature and in some cases
            is also for good display. Since the bones of birds are hollow
            and have air sacks, they are able to fly as it makes them lighter.
            Wings help them in their flight. Birds are bipedal which means
            that they have two legs that are often covered with scales.
            Their beaks are hard and they have no teeth. <!--info for bird -->
            It is estimated that there are more than 9000
            different species of birds. Birds are carnivores,
            which means that most of the birds feed on flesh of other
            smaller animals like insects, fish, mice, etc. Very few birds
            live on plants and plant products like honey and nectar.</b>
            </p>
    <h2> The best 5 types of Bird breed </h2>
    <ol>
        <li><a href="
        https://www.omlet.us/guide/parakeets/varieties_and_types/varieties/"
        ><h4>Parakeet</h4></a></li>
        <li><a href="https://www.thesprucepets.com/cockatiel-breeding-basics-390483"
        ><h4>Cockatiel</h4></a></li>
        <li><a href="https://www.thesprucepets.com/pet-canaries-1236727">
            <h4>Canaries</h4></a></li>
        <li><a href="
        https://vivopets.com/conure-birds-mating-behavior/"><h4>
            Conures</h4></a></li>
        <li><a href="
        https://africangreyparrotsusa.com/breed-info.html">
            <h4>African grey</h4></a></li>

    </ol>
            <p> <b>Remember: Apart from the food you give them, they don't know you that much</b> <br>
                <b>Are they cute sometimes? yes</b>
    </p>
    </body>
</div>
{% endblock %}