<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="description" content={{description}}>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/static/css/color.css" rel="stylesheet">

</head>

<div class="flash_area">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class=flashes>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

</div>
<body>
<!--Headings-->
<h1>{{title}}</h1>
<h2>{{description}}</h2>

{% block content %}{% endblock %}


</body>

</html>