{% extends "labwork.html" %}

{% block head %}

{% endblock %}

{% block content %}
<h1>Change password</h1>
<h2><ul>
    <li>You password must be at least 12 or more</li>
    <li>Must Include at least One Uppercase</li>
    <li>Must Include at least One Lowercase</li>
    <li>Must Include at least One Number</li>
    <li>Must Include at least One Special Character</li>
</ul></h2>

    <form action="" method="POST">

        <div class="form-group">
      <label>Old password:</label>
      <input type="password" name="old_password" class="form-control" value={{request.form.old_password}}>
    </div>
    <div class="form-group">
      <label>New password:</label>
      <input type="password" name="u_password" class="form-control" value={{request.form.u_password}}>
    </div>
    <div class="form-group">
      <label>Confirm new password:</label>
      <input type="password" name="con_password" class="form-control" value={{request.form.con_password}}>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}